<footer>
    <ul>
        <li><button class="btn" id="refresh-btn">Refresh Button</button></li>
        <li><button class="btn" id="view-map-btn">View Map</button></li>
        <li><button class="btn" id="create-map-btn">Create Map</button></li>
        <li><button class="btn" id="add-pin-map-btn">Add a Pin</button></li>
        <li><button class="btn" id="saved-map-btn">Profile</button></li>
    </ul>
</footer>