<header id="header">
    
    <a id="logo" href="/">Wiki Maps</a>

    <form id="searchForm">
        <label for="search">Search</label>
        <div class="search-container">
            <form action="/maps" method="post">
                <input id="search" name="search" type="search" placeholder="Favorite Places to ...">
                <button id="search-btn" name="search-btn" class="wm-icon-search"></button>
            </form>
        </div>
    </form>

    <nav class="crumbs">
        <ul>
            <li class="crumb">
                <button id="login-btn">Explore</button>
            </li>
        </ul>
    </nav>

</header>