<header id="header">
    
    <a id="logo" href="/">Wiki Maps</a>

    <form id="searchForm">
        <label for="search">Search</label>
        <input id="search" name="search">
    </form>

    <nav class="crumbs">
        <ul>
            <li class="crumb">
                <button id="about-btn">About</button>
              </li>
              <li class="crumb">
                <button id="login-btn">Login</button>
            </li>
        </ul>
    </nav>

</header>