<header id="header">
    
    <a id="logo" href="/">Wiki Maps</a>

    <form id="searchForm">
        <label for="search">Search</label>
        <div class="search-container">
            <form action="/maps" method="post">
                <input id="search" name="search" type="search" placeholder="Favorite Places to ...">
                <button id="search-btn" name="search-btn" class="wm-icon-search"></button>
            </form>
        </div>
    </form>

    <nav>
        <div class="dropdown">
            <button class="dropbtn">Explore <i class="wm-icon-user-circle-o"></i></button>
            <div class="dropdown-content">
                <a href="/create">Create a new Map</a>
                <a href="/maps/2/profile">Profile</a>
                <a href="/maps">Explore Maps</a>
                <a href="#">Help</a>
                <a href="#">Logout</a>
            </div>
        </div>
    </nav>

</header>