<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Explore Maps - Wiki Maps</title>

  <%- include('./partials/head'); %>
  <%- include('./partials/map-head'); %>
  
</head>
<body>
  
  <%- include('./partials/header'); %>

  <aside id="create-map" class="animate__animated animate__bounceInLeft">
    <h1>WikiMap Logo</h1>
    
    <h2>Map Name (Pull from maps name)</h2>
    <p>Map Description (pull from maps description)</p>

    <fieldset>
      <legend>Add Pin</legend>
      <button id="create-pins" type="button">Add Pin to Map</button>
    </fieldset>

  </aside>
  <div id="map"></div>

</body>
</html>