<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Explore Maps - Wiki Maps</title>

  <%- include('./partials/head'); %>
  <%- include('./partials/map-head'); %>
  
</head>
<body>

  <%- include('./partials/header'); %>

  <aside id="create-map" class="animate__animated animate__bounceInLeft">
    <h1>WikiMap Logo</h1>

      <label for="map-description">Description</label>
      <form action="/maps" enctype="multipart/form-data" method="post">

      <label for="name">Title</label>
      <input type="text" id="name" name="name" required >

      <label for="description">Description</label>
      <textarea type="text" id="description" name="description" rows="2" cols="1" required></textarea>

      <fieldset>
        <legend>Gallery</legend>

        <label for="header_image">Select a file:</label>
        <input type="file" name="header_image" accept='image/*'>

        <input type="submit" value="Upload">
        <button id="create-pin" type="button">Add Pin to Map</button>
      </fieldset>
        
      <!-- </form> -->
      <!-- <input type="file" id="myfile" name="header_image">
      <input type="hidden" value = "true" name = "public">
      <br><br>
      <input type="submit" value="Submit"> -->

    </form>
  </aside>
  <div id="map"></div>

</body>
</html>
