<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Wiki Maps - Create your own custom maps and share them with other people around the world!</title>
  <!--lottieFiles CDN -->
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <%- include('./partials/head'); %>

</head>
<body>

  <%- include('./partials/header'); %>

  <section class="welcomeMap">
    

    <div class="error-sign">
      <lottie-player src="https://assets7.lottiefiles.com/private_files/lf30_hdjv06hi.json"  background="transparent"  speed="1"  style="height: 80vh;"  loop autoplay></lottie-player>
    </div> 
    
  </section>

  <!-- <div id="login-modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>Some text in the Modal..</p>
    </div>
  </div> -->
 
</body>
</html>