<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Wiki Maps - Create your own custom maps and share them with other people around the world!</title>

  <%- include('./partials/head'); %>

</head>
<body>

  <%- include('./partials/header'); %>

  <section class="welcomeMap">
    
    <div class="welcomeMessage">
      <h1>Welcome to our site message</h1>
      <p>The follow pages prepared:
        <ul style="list-style: none; font-size: 2em;">
          <li>
            <a href="/" class="wm-icon-user-01">Home</a>
          </li>
          <li>
            <a href="/maps">Maps</a>
          </li>
          <li>
            <a href="/maps/2/profile">Profile</a>
          </li>
        </ul>
      </p>
    </div>

    <div id="map"></div>
    
  </section>

  <!-- <div id="login-modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>Some text in the Modal..</p>
    </div>
  </div> -->

</body>
</html>