<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Wiki Maps - Create your own custom maps and share them with other people around the world!</title>

  <%- include('./partials/head'); %>

</head>
<body>

  <%- include('./partials/header'); %>
  <%- include('./partials/map-head'); %>

  <section id="map"></section>

</body>
</html>