<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Profile Page - Wiki Maps</title>

  <%- include('./partials/head'); %>
  
</head>
<body>
  
  <%- include('./partials/header'); %>

  <div class="mini-map-container">

    <section class="mini-map">

      <div class="maps">
        <span class="wm-icon-like"></span>
        <span class="wm-icon-reply"></span>
        <span class="wm-icon-flag"></span>
        <span class="wm-icon-favorite"></span>
        <span class="wm-icon-send"></span>
      </div>
      
      <author>Posted by Email</author>
    </section>
  
    
    <section class="mini-map">

      <div class="maps">
        <span class="wm-icon-like"></span>
        <span class="wm-icon-reply"></span>
        <span class="wm-icon-flag"></span>
        <span class="wm-icon-favorite"></span>
        <span class="wm-icon-send"></span>
      </div>
      
      <author>Posted by Email</author>
    </section>
  
    <section class="mini-map">

      <div class="maps">
        <span class="wm-icon-like"></span>
        <span class="wm-icon-reply"></span>
        <span class="wm-icon-flag"></span>
        <span class="wm-icon-favorite"></span>
        <span class="wm-icon-send"></span>
      </div>
      
      <author>Posted by Email</author>
    </section>
  
    <section class="mini-map">

      <div class="maps">
        <span class="wm-icon-like"></span>
        <span class="wm-icon-reply"></span>
        <span class="wm-icon-flag"></span>
        <span class="wm-icon-favorite"></span>
        <span class="wm-icon-send"></span>
      </div>
      
      <author>Posted by Email</author>
    </section>
  
    <section class="mini-map">

      <div class="maps">
        <span class="wm-icon-like"></span>
        <span class="wm-icon-reply"></span>
        <span class="wm-icon-flag"></span>
        <span class="wm-icon-favorite"></span>
        <span class="wm-icon-send"></span>
      </div>
      
      <author>Posted by Email</author>
    </section>
  
    <section class="mini-map">

      <div class="maps">
        <span class="wm-icon-like"></span>
        <span class="wm-icon-reply"></span>
        <span class="wm-icon-flag"></span>
        <span class="wm-icon-favorite"></span>
        <span class="wm-icon-send"></span>
      </div>
      
      <author>Posted by Email</author>
    </section>
  
    <section class="mini-map">

      <div class="maps">
        <span class="wm-icon-like"></span>
        <span class="wm-icon-reply"></span>
        <span class="wm-icon-flag"></span>
        <span class="wm-icon-favorite"></span>
        <span class="wm-icon-send"></span>
      </div>
      
      <author>Posted by Email</author>
    </section>
  
    <section class="mini-map">

      <div class="maps">
        <span class="wm-icon-like"></span>
        <span class="wm-icon-reply"></span>
        <span class="wm-icon-flag"></span>
        <span class="wm-icon-favorite"></span>
        <span class="wm-icon-send"></span>
      </div>
      
      <author>Posted by Email</author>
    </section>
  
    <section class="mini-map">

      <div class="maps">
        <span class="wm-icon-like"></span>
        <span class="wm-icon-reply"></span>
        <span class="wm-icon-flag"></span>
        <span class="wm-icon-favorite"></span>
        <span class="wm-icon-send"></span>
      </div>
      
      <author>Posted by Email</author>
    </section>
  
    <section class="mini-map">

      <div class="maps">
        <span class="wm-icon-like"></span>
        <span class="wm-icon-reply"></span>
        <span class="wm-icon-flag"></span>
        <span class="wm-icon-favorite"></span>
        <span class="wm-icon-send"></span>
      </div>
      
      <author>Posted by Email</author>
    </section>
  
    <section class="mini-map">

      <div class="maps">
        <span class="wm-icon-like"></span>
        <span class="wm-icon-reply"></span>
        <span class="wm-icon-flag"></span>
        <span class="wm-icon-favorite"></span>
        <span class="wm-icon-send"></span>
      </div>
      
      <author>Posted by Email</author>
    </section>
  


  </div>

</body>
</html>