<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Profile Page - Wiki Maps</title>

  <%- include('./partials/head'); %>
  
</head>
<body>
  
  <%- include('./partials/header'); %>

  <div class="mini-map-container">

    <section class="mini-map">
      <div class="maps">
        <span class="icon-like"></span>
        <div>Message</div>
        <div>Share</div>  
      </div>
      
      <author>@Author</author>
    </section>
    
    <section class="mini-map">
      <div class="maps">
        <span class="icon-like"></span>
        <div>Message</div>
        <div>Share</div>  
      </div>
      
      <author>@Author</author>
    </section>

    <section class="mini-map">
      <div class="maps">
        <span class="icon-like"></span>
        <div>Message</div>
        <div>Share</div>  
      </div>
      
      <author>@Author</author>
    </section>

    <section class="mini-map">
      <div class="maps">
        <div>Heart</div>
        <div>Message</div>
        <div>Share</div>  
      </div>
      
      <author>@Author</author>
    </section>

    <section class="mini-map">
      <div class="maps">
        <div>Heart</div>
        <div>Message</div>
        <div>Share</div>  
      </div>
      
      <author>@Author</author>
    </section>

  </div>

</body>
</html>