<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Explore Maps - Wiki Maps</title>

  <%- include('./partials/head'); %>
  
</head>
<body>
  
  <%- include('./partials/header'); %>

  <aside>
    <h1>WikiMap Logo</h1>

    
    <p>title: <%= name %>
       description: <%= description %>
    </p>
    <!-- Required to update: action="target the post route for create-maps"-->
    
    <!-- <label for="map-title">Title</label>
    <input type="text" id="map-title" name="map-title" required >

    <label for="map-description">Description</label>
    <textarea type="text" id="map-description" name="map-description" rows="2" cols="1" required></textarea>

    <label for="restaurant-pin">Select Pin</label>
    
    <ul>
      <li>
        <input type="checkbox" id="restaurant-pin" name="restaurant" value="restaurant">
        <label for="restaurant-pin">Restaurant</label>
      </li>
      <li>
        <input type="checkbox" id="entertainment-pin" name="entertainment" value="entertainment">
        <label for="entertainment-pin">Entertainment</label>
      </li>
      <li>
        <input type="checkbox" id="activity-pin" name="activity" value="activity">
        <label for="activity-pin">Activity</label>
      </li>
    </ul>

    <label for="myfile">Gallery</label>

    <label for="myfile">Select a file:</label>
    <input type="file" id="myfile" name="myfile"><br><br>
    <input type="submit" value="Submit"> -->
    
  </aside>
  <div id="map"></div>

</body>
</html>