$icomoon-font-family: "wikimaps" !default;
$icomoon-font-path: "fonts" !default;

$wm-icon-user-01: "\e900";
$wm-icon-search: "\f002";
$wm-icon-like: "\f004";
$wm-icon-favorite: "\f005";
$wm-icon-flag: "\f024";
$wm-icon-map-marker: "\f041";
$wm-icon-add: "\f055";
$wm-icon-remove: "\f056";
$wm-icon-delete: "\f057";
$wm-icon-correct: "\f058";
$wm-icon-question-circle: "\f059";
$wm-icon-info-circle: "\f05a";
$wm-icon-exclamation-circle: "\f06a";
$wm-icon-exclamation-triangle: "\f071";
$wm-icon-warning: "\f071";
$wm-icon-reply: "\f075";
$wm-icon-send: "\f1d8";
$wm-icon-user-circle: "\f2bd";
$wm-icon-user-circle-o: "\f2be";
$wm-icon-user-o: "\f2c0";

