/*
* After creating or clicking a map aside bar
*/

.view-aside {
  color: rgba(83, 83, 83, 0.9);
}
// Header with logo

#logo-placement {
  display: flex;
  justify-content: center;
  color: #4C25E1;
  font-size: 2em;
}

#logo-placement > h1 {
  margin: 0.2em 0.2em 0.5em 0.2em;
}

// Main Element

#header-image {
  height: 24vh; 
  margin:1em -0.4em 1em -0.4em; 
  border: 10px solid rgba(145, 145, 145, 0.2);
  border-radius: 3px;
  padding: 0;
}

.line-break {
  padding: 1.5em 0 2em -1.5em;
  margin: 1em 0em 1em -1.5em;
  border-bottom: 3px solid rgba(145, 145, 145, 0.2);
  width: 25vw;
}
.map-title {
  font-size: 2.7em;
  margin: 0.3em 0.1em 0.4em 0.1em;
}
.view-aside > p {
  font-size: 1.2em;
  margin: 0.4em;
}
.view-aside > .description {
  font-size: 1.5em;
}

// View Footer
#view-footer {
  display: flex;
  justify-content: right;
  margin-top: 1em;
  margin-right: 0.4em;
  padding-bottom: 0.4em;
  font-size: 1.4em;
  border-bottom: 0.1em solid rgba(145, 145, 145, 1);
  font-weight: 600;
  align-self: flex-end;
}
.empty-span {
  padding-left: 2em;
}

.number-under-line {
  margin-right: 3em;

}

/*
* List of maps & Profile
*/

.maps-heading {
  font-size: 3em;
  text-align: center;
}

.map-list-containers {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: auto;
  border: 2px dotted gray;
  margin: 2em 0 2em 0;
  padding: 2em 0 2em 0;

}

.maps-list > img {
  width: 25vw; // or 400px
  height: 25vh; // or 250px
}

// .mini-map-container {
//   display: flex;
//   flex-direction: row;
//   height: 35vh;
//   background-color: darken($background, 3%);
//   flex-wrap: wrap;
//   justify-content: center;
// }

// section.mini-map {
//   display: flex;
//   flex-direction: column;
//   align-items: end;
//   margin: 1.5em;
// }


// .maps {
//   background-image: url(http://via.placeholder.com/400x225);
//   background-color: $background;
//   height: 225px;
//   width: 400px;
//   padding: 10px;
//   display: flex;
//   justify-content: flex-start;
//   align-items: flex-end;
//   border-radius: $commonBorderRadius;
// }

// section.mini-map .maps span {
//   margin: 0 0.8em 0 0;
//   font-size: 1.5em;
// }

// section.mini-map .maps {
//   display: inherit;
//   align-items: end;
//   justify-content: space-evenly;
//   margin: 0 0 0.5em 0;
// }

// span.wm-icon-reply {
//   padding-bottom: 2px;
// }



