$primary: #3498db;
$secondary: #2980b9;
$background: #f3f3f5;
$button: #2476D1;
$commonBorderRadius: 15px;

h1 {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

.map-list-containers {
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
}


div#createdMaps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-bottom: 1px solid $primary;
  padding-bottom: 1.5em;
}

.mini-map-containers {
  margin: 0 0.9em;
}

div.map-list-containers section > div > a > img {
  border-radius: 0.5em;
  border: solid 2px #000000;
  -webkit-box-shadow: 0 8px 4px -7px black;
  -moz-box-shadow: 0 8px 4px -7px black;
  box-shadow: 0 8px 4px -7px black;
  max-width: 23vw;
}

p.map-name {
  font-size: 1.5em;
  margin: 0.4em 0px 0px;
  border-bottom: solid 1px $primary;
  padding: 0.3em;
  width: fit-content;
  text-transform: uppercase;
}


.icon-container {
  display: flex;
  justify-content: space-between;
}

.maps-heading {
  margin: 0.5em 0 0.3em;
  font-size: 2.5em;
}

.icons {
  display: flex;
  align-items: center;
  transition: 2s ease-in-out;
}

.icons button {
  background: none;
  border: none;
  padding: 0 1em 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
}

span.wm-icon-like.icon:hover {
  color: red;
}

button.wm-icon-reply.icon {
  padding-bottom: 2px;
}
button.wm-icon-reply.icon:hover {
  color: $primary;
}

button.wm-icon-send.icon:hover {
  color: #e67e22;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.map-list-containers section > div > a > img {
  border: solid 1px #9b9b9b;
  max-height: 239px;
  width: 100%;
}

div#view-footer {
  display: flex;
  align-items: center;
}

div#view-footer button, div#view-footer input#deleteMap {
  border: 1px solid #6b93a1;
  background-color: lightblue;
  margin: 1em 1em 0 0;
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
}
span.number-under-line {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: end;
}

#view-footer > span:nth-child(4) {
  display: flex;
  flex-grow: 1;
}

div#editPinDetails img {
  display: flex;
  width: 100%;
  margin: 0 0 1em 0;
  border: solid 1px lightgrey;
}

div#editPinDetails h1 {
  margin: 0px;
}

aside.view-aside p { 
  margin: 0.2em 0 0.5em 0; 
}

body > aside > p > i > strong {
  margin: 0 0.5em 0 0;
}

#view-footer > span:nth-child(3) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

div#view-footer button, div#view-footer input#deleteMap {
  border: 1px solid #6b93a1;
  background-color: lightblue;
  margin: 1em 1em 0 0;
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  width: max-content;
}

#view-footer > span:nth-child(3) > span:nth-child(3) > span.number-under-line {
  margin-top: 15px;
}

h2.map-title {
  margin: 0 0 1em;
}